<%= render "layouts/errors", :object => @post %>


<div class="form-group">
  <%= form_for @post do |f| %>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    Add a tag: 
    <ul class="list-unstyled">
    <%= f.fields_for :tags do |tags_form| %>
       <li> <%= tags_form.label :name %></li>
        <li><%= tags_form.text_field :name %></li>
        <% end %>
    </ul>
    <%= f.submit  %>
  <% end %>
</div>