<div class="post-container panel panel-default">
  <h2><%= @post.title %></h2>
  <h4><%= @post.user_name %> <small><%= @post.created_at.strftime("%m/%d/%Y %I:%M%P") %></small></h4>

  <%= @post.content %>
  <hr>
  <% if @post.tags.any? %>
    <div class="pull-right">
      Tagged as:
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </div>
  <% end%>
  <br>

  <button class="btn"><%= link_to "Edit", edit_post_path %></button>
   <button class="btn btn-link"><%= link_to "Delete Post", post_path(@post), :data => {:confirm => "You sure?",
    :method => 'delete'} %></button>
</div>