<!DOCTYPE html>
<html>
<head>
  <title>Internet Human</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <div class="jumbotron brand-header">
    <h1>Alex Altieri: Internet Human</h1>
  </div>

  <div class='navbar navbar-default'>
    <%= yield(:navbar) %>
    <a class="navbar-brand" href="/posts">Home</a>
  </div>

  <div class="container-fluid">

  <%= yield %>
  </div>

</body>
</html>
