<!DOCTYPE html>
<html>
<head>
  <title>Internet Human</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <li>
              <h4><a href="/">Alex Altieri</a></h4>
            </li>
            <li>
              <%= image_tag 'ME.jpg', class: "image-nav"%>
            </li>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="https://www.github.com/AlexAlt">GitHub</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/alexaltieri">LinkedIn</a>
            </li>
            <li>
                <a href="/posts">Blog</a>
            </li>
            <% if current_user %>
              <li>
                <a href="/log-out">Log Out</a>
              </li>
            <% else %>
              <li>
                <a href="/log-in">Log In</a>
              </li>
              <li>
                <%= link_to "Sign Up", new_user_path %>
              </li>
            <% end %>
            <% if current_user && current_user.admin %>
              <li>
              <%= link_to "Write New Post", new_user_post_path(current_user) %>
              </li>
            <% end %>
      </ul>
  </div>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <%= yield %> 
      </div>
    </div>
  </div>
</body>
</html>
